@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 5%;
  
      --card: 0 0% 99%;
      --card-foreground: 0 0% 5%;
  
      --popover: 0 0% 99%;
      --popover-foreground: 0 0% 5%;
  
      --primary: 217 91% 60%;
      --primary-foreground: 0 0% 98%;
  
      --secondary: 0 0% 95%;
      --secondary-foreground: 0 0% 5%;
  
      --muted: 0 0% 95%;
      --muted-foreground: 0 0% 45%;
  
      --accent: 0 0% 95%;
      --accent-foreground: 0 0% 5%;
  
      --destructive: 0 84% 60%;
      --destructive-foreground: 0 0% 98%;
  
      --border: 0 0% 91%;
      --input: 0 0% 84%;
      --ring: 0 0% 76%;
  
      --radius: 0.5rem;
    }
    
    .dark {
      --background: 240 3% 6%;
      --foreground: 0 0% 98%;
  
      --card: 210 6% 7%;
      --card-foreground: 0 0% 98%;
  
      --popover: 210 6% 7%;
      --popover-foreground: 0 0% 98%;
  
      --primary: 217 91% 60%;
      --primary-foreground: 0 0% 98%;
  
      --secondary: 225 5% 15%;
      --secondary-foreground: 0 0% 98%;
  
      --muted: 220 5% 22%;
      --muted-foreground: 220 5% 49%;
  
      --accent: 216 45% 14%;
      --accent-foreground: 0 0% 98%;
  
      --destructive: 0 84% 60%;
      --destructive-foreground: 0 0% 98%;
  
      --border: 220 5% 12%;
      --input: 225 4% 18%;
      --ring: 217 91% 40%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }